* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(
        135deg,
        #141e30,
        #243b55
    );

    color: white;

    padding: 20px;
}

.container {
    width: 100%;
    max-width: 700px;

    text-align: center;
}

h1 {
    font-size: 40px;
    margin-bottom: 25px;
}

.painel {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background: rgba(255, 255, 255, 0.12);

    padding: 15px;

    border-radius: 15px;

    margin-bottom: 15px;
}

.painel div {
    display: flex;
    flex-direction: column;

    gap: 5px;
}

.painel strong {
    font-size: 14px;
    color: #ccc;
}

.painel span {
    font-size: 24px;
    font-weight: bold;
    color: #ffd32a;
}

.botoes {
    margin-bottom: 20px;
}

button {
    border: none;

    background: #ffd32a;

    color: #222;

    font-size: 16px;

    font-weight: bold;

    padding: 12px 20px;

    border-radius: 10px;

    cursor: pointer;

    transition: 0.2s;
}

button:hover {
    background: #ffdd59;

    transform: scale(1.05);
}

/* TABULEIRO */

.tabuleiro {
    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 10px;

    perspective: 1000px;
}

/* CARTA */

.carta {
    height: 120px;

    position: relative;

    cursor: pointer;

    transform-style: preserve-3d;

    transition: transform 0.5s;
}

.carta.virada {
    transform: rotateY(180deg);
}

.frente,
.verso {
    position: absolute;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 12px;

    backface-visibility: hidden;
}

.verso {
    background: #6c5ce7;

    font-size: 40px;

    border: 3px solid #a29bfe;
}

.frente {
    background: white;

    color: #222;

    font-size: 42px;

    transform: rotateY(180deg);
}

.carta.encontrada {
    pointer-events: none;
}

.carta.encontrada .frente {
    background: #55efc4;
}

/* MENSAGEM */

#mensagem {
    min-height: 50px;

    margin-top: 20px;

    font-size: 22px;

    font-weight: bold;

    color: #ffeaa7;
}

/* CELULAR */

@media (max-width: 550px) {

    h1 {
        font-size: 30px;
    }

    .tabuleiro {
        grid-template-columns: repeat(4, 1fr);

        gap: 7px;
    }

    .carta {
        height: 80px;
    }

    .frente {
        font-size: 30px;
    }

    .verso {
        font-size: 28px;
    }

    .painel span {
        font-size: 20px;
    }
}